.breadcrumb{
    height: 5rem;
    line-height: 5rem;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0 1rem;
}
.breadcrumb a{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}
.toRight{
    display: inline-block;
    width: 0;
    height: 0;
    border: 0.3rem solid transparent;
    border-left-color:#000 ;
    margin-left: 0.3rem;
}
.sub_nav a{
    display: inline-block;
    text-decoration: none;
    height: 5rem;
    line-height: 5rem;
    font-weight: bold;
    font-size: 0.9rem;
    border-bottom:2px solid transparent;
}
.sub_nav li{
    margin-right: 1.5rem;
}
.sub_nav a:hover{
    border-bottom: 2px solid red;
}
.aboutUs{
    border-top: 2px solid #ddd;
    padding-top: 2rem;
    margin-bottom:2rem;
}
.aboutUs_left{
    width: 10rem;
}
.aboutUs_left>h2{
    color: red;
    text-align: left;
}
.aboutUs_left li{
    width: 100%;

}
.aboutUs_left a{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    line-height: 2rem;
    padding-left: 1rem;
}
.two>li a{
    padding-left: 1.5rem;
}
.one>li i,.two>li i{
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    background-color: #333333;
    margin-right: 0.5rem;
    vertical-align: middle;
}
.two>li i{
    width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.3rem;
}
.one>li>a:hover{
    background-color: red;
    color: #fff;
}
.one>li>a:hover i{
    background-color: #fff;
}
.two>li>a:hover{
    color:red;
}
@media (max-width: 767px) {
    .sub_nav{
        display: none;
    }
    .aboutUs_info,.certificate,.companyMap,.company_news,.product_list,.company_news_detail,.product_detail{
        margin-left: 0!important;

    }
    .aboutUs_left{
        margin:0 auto 2rem;

    }
    .aboutUs_info{
        padding: 0 1rem;
    }
}
@media (min-width: 768px) {
    .aboutUs_left{
        float: left;
    }
    .aboutUs_info,.certificate,.companyMap,.company_news,.product_list,.company_news_detail,.product_detail{
        margin-left: 14rem;

    }
}


